{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>The Cake flakes</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'bakes/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'bakes/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'bakes/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'bakes/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'bakes/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'bakes/vendor/owl.carousel/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'bakes/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'bakes/vendor/aos/aos.css' %}" rel="stylesheet">

  <link href="{% static 'bakes/css/style.css' %}" rel="stylesheet">
</head>

<body>

 
  <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top ">
    <div class="container d-flex align-items-center">
      <div class="contact-info mr-auto">
        <ul>
          <li><i class="icofont-envelope"></i><a href="mailto:contact@example.com">swatigiria@gmail.com</a></li>
          <li><i class="icofont-phone"></i> +91 9674991388</li>
        </ul>
      </div>
      
    </div>
  </div>


  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="#header" class="scrollto">The Cake Flakes</a></h1>
    
      <a href="#header" class="logo mr-auto scrollto"><img src="{% static 'bakes/img/logo.png' %}" alt="" class="img-fluid"></a>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#header">Home</a></li>
          <li><a href="testimonials">Testimonials</a></li>
          <li><a href="portfolio">Portfolio</a></li>
          <li><a href="faq">FAQs</a></li>
         
          <li class="drop-down"><p style="color:white">Accounts</p>
            <ul>
              <li><a href="register">Sign in</a></li>
            
                
              
              <li><a href="login">Login</a></li>
           
            </ul>
          </li>
          <li><a href="contact">Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Welcome to <span><br>The Cake Flakes🍰</span></h2>
          <p class="animate__animated animate__fadeInUp">Home Based Bakery with 100% Eggless Varieties to devour.</p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
        </div>
      </div>

      <!-- Slide 3 -->
    

     

    </div>
  </section><!-- End Hero -->

  <main id="main">

   

    <!-- ======= About Us Section =======
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
             <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section> -->    
      
    <br>
    <br>
    <br>
    <!-- ======= Portfoio Section ======= -->
    <section id="portfolio" class="portfoio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Portfoio</h2>
          <p>Some of our recent works</p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Cakes</li>
              <li data-filter=".filter-card">Cookies</li>
              <li data-filter=".filter-web">Biscuits</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">
          {% for product in products %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{{product.image.url}}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>{{product.name}}</h4>
              <p>{{product.description}}</p>
              <a href="{% static 'bakes/img/portfolio/portfolio-1.jpg' %}" data-gall="portfolioGallery" class="venobox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
          {% endfor %}

         

          


          

        </div>

      </div>
    </section><!-- End Portfoio Section -->

    


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Faqs</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Contact Us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Portfolio</a></li>

            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Cakes</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Cookies</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Brownies</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Biscuits</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Desserts</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Hind Motor<br>
              <strong>Phone:</strong>+91 9674991388<br>
              <strong>Email:</strong> swatigiria@gmail.com<br>
            </p>

          </div>

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>The Cake Flakes</h3>
            <p>Home Based Bakery with 100% Eggless Varieties to devour.</p>
            <div class="social-links mt-3">
              <a href="https://www.facebook.com/swati.linga" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="https://instagram.com/thecake_flakes?utm_medium=copy_link" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="https://wa.me/+919674991388" class="whatsapp"><i class="bx bxl-whatsapp"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>The Cake Flakes</span></strong>. All Rights Reserved 2021
      </div>
      <div class="credits">
        Designed by Devourato</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  

  <!-- Vendor JS Files -->
  <script src="{% static 'bakes/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'bakes/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'bakes/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'bakes/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'bakes/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'bakes/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'bakes/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'bakes/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'bakes/js/main.js' %}"></script>

</body>

</html>